body {
  color: pink;
  background-color: #5833FF;
}

form {
  background-color: black;
  width: 500px;
  margin: 0 auto;
}

img {
  text-align: center;
}

h1 {
  text-align: center;

}

button {
  text-align:  center;
}



